li{
    list-style: none;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map { height: 400px; width: 100%; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.UserNav{
  display: inline-block;
  margin-top: 3%;
}
.theUser{
  columns: 1;
  column-width: 40%;
  height: 100%;
  float: left;
  
}
.Dragon{
  width: 25%;
  height: 30%;
}
.theDragon{
  clear: right;
}
.User{
  width: 20%;
  height: auto;
}