<div>
    <ul>
        <li class="UserNav"><a href="#">Dashboard</a></li>
        <li class="UserNav"><a href="#">Profile</a></li>
        <li class="UserNav"><a href="#">Wander</a></li>
    </ul>
</div>
<div>
    <div><img src="images/User.jpg" alt="user"></div>
   <p>DisplayName</p>
   <p>User Stats</p>
   <div>
        <ul>
            <li>JoinDate</li>
            <li>HomeTown</li>
        </ul>
   </div>
   <p>WanderFriends {number}</p>
   <div>
       <p>Firend1</p>
       <p>Friend2</p>
   </div>
</div>
<div>
    <div>
       <p>Welcome Back DisplayName !!!</p> 
    </div>
    <div>
        <img src="images/Dragon.jpg" alt="dragon">
    </div>
    <div>
        <p>DragonName</p>
    </div>
    <p>Dragon Stats</p>
    <div>
        <ul>
            <li>XP Points</li>
            <li>Items Collected</li>
            <li>How Far Traveled</li>
            <li>Age</li>
            <li>Trips</li>
        </ul>
    </div>
</div>