<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WanderDragon</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>

    <h1>WanderDragon</h1>
    <div id="map"> </div>
    <form>
        <label>Flight Path</label>
        <br>
    <input type="text" value="" id="start"></input>
    <input type="text" value="" id="end"></input>
    </form>
 

    
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuc6843tFoduNTipfH_gw6Yp5U0sMCleQ&callback=initMap"> -->
    <!-- </script> -->

</body>

</html>